body{
   background: #d3d3d3;/*背景色*/
}
h2 {
    font-size: 45px;
    line-height: 48px;
}
p {
    font-size: 14px;
}

.box3 {
    padding: 0.1em 1em;
    margin: 1em auto;
    color: #808080;
    background: #ffffff;/*背景色*/
  max-width: 1000px
}
.box3 p {
    margin: 0 0 14px;
    padding: 0;
}

ul, ol {
    font-size: 14px;
    line-height: 24px;
}